<ion-grid fixed style="margin-top: 16px">
  <ion-card>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="activity-title">
        <ion-item lines="full">
          <ion-card-title>Information personel</ion-card-title>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <ion-label>Prénom</ion-label>
        <ion-item>
          <ion-input
            type="text"
            placeholder="Prénom"
            [(ngModel)]="user.first_name"
          >
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <ion-label>Nom de famille </ion-label>
        <ion-item>
          <ion-input type="text" placeholder="Nom" [(ngModel)]="user.last_name">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <ion-label>Numéro de télèphone</ion-label>
        <ion-item>
          <ion-input
            type="number"
            placeholder="Numéro mobile ou fixe"
            [(ngModel)]="user.mobile_number"
          >
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <ion-label>Address mail</ion-label>
        <ion-item>
          <ion-input
            type="text"
            placeholder="Address e-mail"
            [(ngModel)]="user.email"
          >
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <ion-label>Role</ion-label>
        <ion-item [disabled]="true">
          <ion-select
            [value]="user"
            multiple="false"
            interface="popover"
            placeholder="Quel est votre role ? "
            [(ngModel)]="user.role"
          >
            <ion-select-option value="user">User</ion-select-option>
            <ion-select-option value="admin">Administrateur</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-end">
      <ion-col size="3" style="margin-right: 16px">
        <ion-button
          class="ion-text-wrap"
          (click)="updateUserInfo()"
          expand="block"
          fill="solid"
          color="success"
        >
          Confirmer
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="activity-title">
        <ion-item lines="full">
          <ion-card-title>Sécurité</ion-card-title>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <ion-label>Mot de passe</ion-label>
        <ion-item>
          <ion-input
            type="password"
            placeholder="Mot de passe"
            [(ngModel)]="user.password"
          >
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <ion-label>Confirmation du Mot de passe</ion-label>
        <ion-item>
          <ion-input
            type="password"
            placeholder="Confirmation du mot de passe"
            [(ngModel)]="password_confirmation"
          >
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-end">
      <ion-col size="3" style="margin-right: 16px">
        <ion-button
          class="ion-text-wrap"
          (click)="updatePassword()"
          expand="block"
          fill="solid"
          color="success"
        >
          Confirmer
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-grid>
